<link rel="stylesheet" href="/css/sign-in.css">

<div class="container-wrapper">
  <section class="sign-in-section" style="margin-top: 5rem;justify-content: start">
    <form class="sign-in-form" action="/forgot-password" method="post">
      <h2 style="font-size: 24px; text-align: center; margin-bottom: 0.5rem; font-weight: 400;">
        Reset your password
      </h2>
      <!-- Email Field -->
      <label for="email">Email Address</label>
      <input type="email" name="email" id="email" required autofocus/>

      <% if(locals.flash && locals.flash.error) {%>
      <p class="error-text"><%= locals.flash.error %></p>
      <% } %>

      <!-- Sign In Button -->
      <button type="submit">Send Password Reset Email</button>
    </form>
  </section>
</div>