<link rel="stylesheet" href="/css/sign-in.css">

<div class="container-wrapper" style="height: auto">
  <section class="sign-in-section" style="margin-top: 2rem;justify-content: start">
    <form class="sign-in-form" action="/reset-password" method="post">
      <h2 style="font-size: 24px; text-align: center; margin-bottom: 0.25rem; font-weight: 500;">Change Password</h2>
      <!-- Password Field -->
      <div class="password-hint">
        <label for="password">Password</label>
      </div>
      <input type="password" name="password" id="password"/>

      <!-- Confirm Password Field -->
      <div class="password-hint">
        <label for="confirm-password">Confirm Password</label>
      </div>
      <input type="password" name="confirmPassword" id="confirm-password"/>
      
      <input type="text" name="token" value="<%= token %>" hidden />

      <% if(locals.flash && locals.flash.error) {%>
        <p class="error-text"><%= locals.flash.error %></p>
      <% } %>

      <!-- Sign In Button -->
      <button type="submit">Change Password</button>
    </form>
  </section>
</div>