<link rel="stylesheet" href="/css/sign-in.css">

<div class="container-wrapper">
  <section class="sign-in-section">
    <form class="sign-in-form" action="" method="post">
      <!-- Email Field -->
      <label for="email">Email Address</label>
      <input type="email" name="email" id="email"/>

      <!-- Password Field -->
      <div class="password-hint">
        <label for="password">Password</label>
        <a class="forgot-password" href="">Forgot Password?</a>
      </div>
      <input type="password" name="password" id="password"/>

      <!-- Sign In Button -->
      <button type="submit">Sign In</button>
    </form>

    <button class="google-signin-btn" type="submit">Sign In With Google</button>

    <div class="sign-up-container">
      New to User? <a href='/signup'>Create an account</a>
    </div>
  </section>
</div>