<link rel="stylesheet" href="/css/sign-in.css">

<div class="container-wrapper">
  <section class="sign-in-section">
    <form class="sign-in-form" action="/signup" method="post">
      <!-- Email Field -->
      <label for="name">Name</label>
      <input type="text" name="name" id="name" required/>

      <!-- Email Field -->
      <label for="email">Email Address</label>
      <input type="email" name="email" id="email" required/>

      <!-- Password Field -->
      <div class="password-hint">
        <label for="password">Password</label>
      </div>
      <input type="password" name="password" id="password" required/>

      <!-- Password Field -->
      <div class="password-hint">
        <label for="confirm-password">Confirm Password</label>
      </div>
      <input type="password" name="confirmPassword" id="confirm-password" required/>

      <% if(locals.flash && locals.flash.error) {%>
        <p class="error-text"><%= locals.flash.error %></p>
      <% } %>

      <!-- Sign In Button -->
      <button type="submit">Sign Up</button>
    </form>

    <!-- Google Sign Up -->
    <a href="/google" class="google-signin-btn">
      Sign Up With Google
    </a>

    <div class="sign-up-container">
      Already having account? <a href='/signin'>Sign In</a>
    </div>
  </section>
</div>