<link rel="stylesheet" href="/css/mailer.css">

<div class="container-wrapper">
  <h1>Reset Password Request</h1>
  <p>
    You are about to reset your password. Don't worry, it's easy! Just click the link below and follow the steps
  </p>
  <a href="https://weary-tan-gorilla.cyclic.app/reset-password?token=<%= token %>"> Reset your password </a>
</div>